<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>

{% for post in post_list %}
<div><a href="{{ forloop.counter }}">{{ forloop.counter }}:{{post}}</a></div>
    {% endfor %}
{% if post_list.object_list and post_list.paginator.num_pages > 1 %}
      <div>
      <ul class="pager">
      {% if post_list.has_previous %}
        <li><a href="?page={{ post_list.previous_page_number }}">Pre Page</a></li>
      {% endif %}

      {% if post_list.has_next %}
        <li><a href="?page={{ post_list.next_page_number }}">Next Page</a></li>
      {% endif %}
      </ul>
      </div>
    {% endif %}

</body>
</html>